@model AdminIndexViewModel

@{
    ViewBag.Title = "Каталог";
    Layout = "_AdminLayout";
}
<table class="table table-striped table-bordered table-sm">
    <tr>
        <th colspan="3">
            <form class="form-inline" asp-action="Index" asp-controller="Admin" method="get">
                <input class="form-control mr-sm-2" type="search" name="SearchString" asp-for="@Model.SearchString" alue placeholder="" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Поиск</button> | <a asp-action="Index">Сбросить фильтры</a>
            </form>
        <th colspan="1">
            <div class="text-center">
                <a asp-action="Create" class="btn btn-primary">Добавить книгу</a>
            </div>
        </th>
    </tr>
</table>
<table class="table table-striped table-bordered table-sm">
    <tr>        
        <th class="text-center">
            <a asp-action="Index" asp-route-sortOrder="@ViewData["IdSortParm"]" style="text-decoration: none">
                <span>ID</span>
                @if (@Model.CurrentSortOrder == null) {
                    <span class="fa fa-sort-amount-asc"></span>                  
                } else if (@Model.CurrentSortOrder == "id_desc") {
                    <span class="fa fa-sort-amount-desc"></span>
                }
            </a>                
        </th>        
        <th class="text-center">
            <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" style="text-decoration: none" >
                <span>Название</span>
                @if (@Model.CurrentSortOrder == "name") {
                    <span class="fa fa-sort-amount-asc"></span>                  
                } else if (@Model.CurrentSortOrder == "name_desc") {
                    <span class="fa fa-sort-amount-desc"></span>
                }
            </a>
        </th>
        <th class="text-center">
            <a asp-action="Index" asp-route-sortOrder="@ViewData["AuthorSortParm"]" style="text-decoration: none"> 
                <span>Автор</span>
                @if (@Model.CurrentSortOrder == "author") {
                    <span class="fa fa-sort-amount-asc"></span>                  
                } else if (@Model.CurrentSortOrder == "author_desc") {
                    <span class="fa fa-sort-amount-desc"></span>
                }
            </a>
        </th>
        <th class="text-center">
            <a asp-action="Index" asp-route-sortOrder="@ViewData["LanguageSortParm"]" style="text-decoration: none">
                <span>Язык издания</span>
                @if (@Model.CurrentSortOrder == "language") {
                    <span class="fa fa-sort-amount-asc"></span>                  
                } else if (@Model.CurrentSortOrder == "language_desc") {
                    <span class="fa fa-sort-amount-desc"></span>
                }
            </a>
        </th>
        <th class="text-center">
            <a asp-action="Index" asp-route-sortOrder="@ViewData["GenreSortParm"]" style="text-decoration: none"> 
                <span>Жанр</span>
                @if (@Model.CurrentSortOrder == "genre") {
                    <span class="fa fa-sort-amount-asc"></span>                  
                } else if (@Model.CurrentSortOrder == "genre_desc") {
                    <span class="fa fa-sort-amount-desc"></span>
                }
            </a>
        </th>
        <th class="text-center">
            <a asp-action="Index" asp-route-sortOrder="@ViewData["PublisherSortParm"]" style="text-decoration: none">
                <span>Издатель</span>
                @if (@Model.CurrentSortOrder == "publisher") {
                    <span class="fa fa-sort-amount-asc"></span>                  
                } else if (@Model.CurrentSortOrder == "publisher_desc") {
                    <span class="fa fa-sort-amount-desc"></span>
                }
            </a>
        </th>
        <th class="text-center">
            <a asp-action="Index" asp-route-sortOrder="@ViewData["PriceSortParm"]" style="text-decoration: none">
                <span>Цена</span>
                @if (@Model.CurrentSortOrder == "publisher") {
                    <span class="fa fa-sort-amount-asc"></span>                  
                } else if (@Model.CurrentSortOrder == "publisher_desc") {
                    <span class="fa fa-sort-amount-desc"></span>
                }
            </a>
        </th>
        <th class="text-center">Действия</th>
    </tr>
    @foreach (var item in Model.Products) {
        <tr>
            <td class="text-right">@item.ProductID</td>
            <td>@item.Name</td>
            <td>@item.Author</td>
            <td>@item.Language</td>
            <td>@item.Genre</td>
            <td>@item.Publisher</td>
            <td class="text-right">@item.Price.ToString("c")</td>
            <td class="text-center">
                <form asp-action="Delete" method="post">
                    <a asp-action="Edit" class="btn btn-sm btn-warning" asp-route-productId="@item.ProductID">
                        Edit
                    </a>
                    <input type="hidden" name="ProductID" value="@item.ProductID" />
                    <button type="submit" class="btn btn-danger btn-sm">
                        Delete
                    </button>
                </form>
            </td>
        </tr>
    }
</table>

<div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true"
    page-class="btn" page-class-normal="btn-secondary"
    page-class-selected="btn-primary" page-url-sortOrder="@Model.CurrentSortOrder" page-url-searchString="@Model.SearchString" class="btn-group pull-right m-1">
</div>

