<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" asp-href-include="/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" asp-href-include="/lib/fontawesome/css/*.min.css" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" role="navigation">
        <a class="col navbar-brand" href="/">
            The Bookie Joint 
            @if (@ViewBag.Title != "The Bookie Joint") {
                <span>
                    | <small>На главную</small>
                </span>
            }
        </a>
        <form class="form-inline" asp-action="List" method="get">
            <input class="form-control mr-sm-2" type="search" name="SearchString" value="@ViewData["currentFilter"]" placeholder="Автор или название" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Поиск</button> |
        </form>
        <div class="collapse navbar-collapse">
            <div class="col text-right">
                @await Component.InvokeAsync("CartSummary")
            </div>          
        </div>
    </nav>
    <div class="row m-1 p-1">
            @if (TempData["message"] != null) {
                <div class="alert alert-danger">@TempData["message"]</div> 
            }
            @RenderBody()
    </div>
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</body>
</html>
