@model OrderListViewModel
@{
    ViewBag.Title = "Заказы";
    Layout = "_AdminLayout";
}

@if (Model.Orders.Count() > 0) {
    <table class="table table-striped table-bordered table-sm">
        <tr>
            <th>
                <form class="form-inline" asp-action="List" asp-controller="Order" method="get">
                    <input class="form-control mr-sm-2" type="search" name="SearchString" asp-for="@Model.SearchString" alue placeholder="" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Поиск</button> | <a asp-action="List">Сбросить фильтры</a>
                </form>
            </th>
        </tr>
    </table>
    <table class="table table-bordered table-striped">
        <tr>
            <th>
                <a asp-action="List" asp-controller="Order" asp-route-sortOrder="@ViewData["IdSortParm"]" style="text-decoration: none"> 
                    <span>ID</span>
                    @if (@Model.CurrentSortOrder == null) {
                        <span class="fa fa-sort-amount-asc"></span>                  
                    } else if (@Model.CurrentSortOrder == "id_desc") {
                        <span class="fa fa-sort-amount-desc"></span>
                    }
                </a>
            </th>
            <th>
                <a asp-action="List" asp-controller="Order" asp-route-sortOrder="@ViewData["ShippedSortParm"]" style="text-decoration: none"> 
                    <span>Статус</span>
                    @if (@Model.CurrentSortOrder == "shipped") {
                        <span class="fa fa-sort-amount-asc"></span>                  
                    } else if (@Model.CurrentSortOrder == "shipped_desc") {
                        <span class="fa fa-sort-amount-desc"></span>
                    }
                </a>
            </th>
            <th>
                <a asp-action="List" asp-controller="Order" asp-route-sortOrder="@ViewData["NameSortParm"]" style="text-decoration: none"> 
                    <span>Имя</span>
                    @if (@Model.CurrentSortOrder == "name") {
                        <span class="fa fa-sort-amount-asc"></span>                  
                    } else if (@Model.CurrentSortOrder == "name_desc") {
                        <span class="fa fa-sort-amount-desc"></span>
                    }
                </a>
            </th>
            <th>
                <a asp-action="List" asp-controller="Order" asp-route-sortOrder="@ViewData["PostalCodeSortParm"]" style="text-decoration: none"> 
                    <span>Почтовый индекс</span>
                    @if (@Model.CurrentSortOrder == "postalCode") {
                        <span class="fa fa-sort-amount-asc"></span>                  
                    } else if (@Model.CurrentSortOrder == "postalCode_desc") {
                        <span class="fa fa-sort-amount-desc"></span>
                    }
                </a>
            </th>
            <th colspan="2">Детали</th>
            <th></th>
        </tr>
        @foreach (Order o in Model.Orders) {
            <tr>
                <td>@o.OrderID</td>
                <td>
                    @if (@o.Shipped == true) {
                        <span>Отправлен</span>
                    } else {
                        <span>Ждет отправки</span>
                    }
                </td>
                <td>@o.Name</td><td>@o.PostalCode</td>
                <td colspan="2">Подарочная упаковка: 
                    @if (@o.GiftWrap == true) {
                        <span>Да</span>
                    } else {
                        <span>Нет</span>
                    }
                </td>
                <td>
                    @if (@o.Shipped == true) {
                        <tr></tr>
                    } else {
                        <form asp-action="MarkShipped" method="post">
                            <input type="hidden" name="orderId" value="@o.OrderID" />
                            <button type="submit" class="btn btn-sm btn-danger">
                                Выслать
                            </button>
                        </form>
                    }                    
                </td>

            </tr>
            <tr>
                <td colspan="4" class="border-0"></td>
                <td colspan="2">Страна: @o.Country</td>
                <td class="border-0"></td>
            </tr>
            <tr>
                <td colspan="4" class="border-0"></td>
                <td colspan="2">Город: @o.City</td>
                <td class="border-0"></td>
            </tr>
            <tr>
                <td colspan="4" class="border-0"></td>
                <td colspan="2">Адрес 1: @o.Line1</td>
                <td class="border-0"></td>
            </tr>
            @if (o.Line2 != null) {
                <tr>
                    <td colspan="4" class="border-0"></td>
                    <td colspan="2">Адрес 2: @o.Line2</td>
                    <td class="border-0"></td>
                </tr>
            }
            @if (o.Line3 != null) {
                <tr>
                    <td colspan="4" class="border-0"></td>
                    <td colspan="2">Адрес 3: @o.Line3</td>
                    <td class="border-0"></td>
                </tr>
            }
            <tr>
                <td colspan="4" class="border-0"></td>
                <th>Книга</th><th>Количество</th>
                <td class="border-0"></td>
            </tr>
            @foreach (CartLine line in o.Lines) {
                <tr>
                    <td colspan="4" class="border-0"></td>
                    <td><a asp-action="Details"  asp-controller="Product" asp-route-productId="@line.Product.ProductID" style="text-decoration: none">@line.Product.Name</a></td>
                    <td>@line.Quantity</td>
                    <td class="border-0"></td>
                </tr>
            }          
            
        }
    </table>
    <div page-model="@Model.PagingInfo" page-action="List" page-classes-enabled="true"
        page-class="btn" page-class-normal="btn-secondary"
        page-class-selected="btn-primary" page-url-sortOrder="@Model.CurrentSortOrder" page-url-searchString="@Model.SearchString" class="btn-group pull-right m-1">
    </div>
} else {
    <div class="text-center">No Unshipped Orders</div>
}
